{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
New
{% endblock title %}

{% block content %}
    {% if is_not_subscriber %}
        <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btm-sm"> Подписаться </a></p>
    {% endif %}
    <h1> Все посты </h1>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти"/>
    </form>
    <h1>Всего публикаций: {{news|length}}</h1>
    <hr>
    {% if news %}
        <table>
            <tr>
                <td> Заголовок </td>
                <td> Содержание </td>
                <td> Дата публикации </td>
            </tr>
            {% for new in news %}
            <tr>
                <td> {{ new.head|censor }} </td>
                <td> {{ new.text|truncatechars:20|censor }} </td>
                <td> {{ new.time_in|date:'d M Y' }} </td>
            {% endfor %}
        </table>
    {% else %}
        <h2> Постов нет :( </h2>
    {% endif %}
    {% if page_obj.has_previous %}
        <a href="?{%url_replace page=1%}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{%url_replace page=page_obj.previous_page_number%}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}
    {{ page_obj.number }}
    {% if page_obj.has_next %}
        <a href="?{%url_replace page=page_obj.next_page_number%}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{%url_replace page=page_obj.paginator.num_pages%}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}